@import "styles/functions/index.scss";
@import "styles/mixins/index.scss";
@import "./RichTextWidgetEditorMixin.scss";

.RichTextWidget {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    @include StandardModalScrollBar("RichTextWidget__scrollbar");

    // display: flex;

    // align-items: stretch;

    & .RichTextWidget__wrapper {
        border-radius: 0.3rem;
        height: 100%;
        background-color: theme-link("RichTextWidget", "bg-color", "primary");
    }

    & .RichTextWidget__editor {
        border-radius: 0.3rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;

        // To account for editor container being slightly taller than the wrapper,
        // which causes unnecessary overflow.
        & .DraftEditor-root {
            height: calc(100% - 1rem);
        }

        // Editor overrides.
        @include RichTextWidgetEditorMixin;
        @include StandardModalScrollBar("RichTextWidget__scrollbar");
    }
}
