@import "styles/mixins/index.scss";

.SelectedDocumentsDraggableList {
    max-height: 6rem;

    .SelectedDocument {
        display: flex;
        align-items: center;

        & > .SelectedDocument__number {
            @include DocumentNumberLabel(0.9rem);
        }

        & > .SelectedDocument__name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
